<section
  class='page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 align-self-center p-static order-2'>
        <h1>DART - Diary</h1>
        <h4>A page to update our daily diary</h4>
      </div>
    </div>
  </div>
</section>

<div class='container'>

  <div class='row'>

    <form #dartForm='ngForm'>
      <div class='row'>
        <div class='form-group col col-12'>
            <H1>SEARCH</H1>
            <div *ngIf='errorMessage' class='alert alert-error'>{{errorMessage}}</div>
            <div *ngIf='message' class='alert alert-sucess'>{{message}}</div>
          <div class='form-group col col-4'>
            <label for='username'>Name: </label>
            <select #inputName class='form-control' id='username'>
              <option>SELECT</option>
              <option>Monicka</option>
              <option>Hema</option>
              <option>Ramesh</option>
              <option>Madhavan</option>
              <option>Aadhavan</option>
              <option>Madhan</option>
              <option>Prasanth</option>
            </select>
          </div>
          <div class='form-group col col-4'>
            <label for='date'>Date:</label>
            <input type='text' class='form-control' value='{{curDate | date:"dd/MM/yyyy"}}' readonly>
          </div>
          <div class='form-group col col-3'>
            <button class='btn btn-primary' (click)='onClick(inputName.value)'>Get Day
              Plan</button>
          </div>
        </div>
      </div>
				<div *ngIf='showMyContainer'>
      <H1>RESULT</H1>
      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <!-- <th scope='col'>S.No</th> -->
            <th scope='col'>Name</th>
            <th scope='col'>From time</th>
            <th scope='col'>To time</th>
            <th scope='col'>Planned task</th>
            <th scope='col'>Actual task</th>
            <th scope='col'>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let dart of darts;let index = index; trackBy:trackByIndex;' scope='row'>

            <td>{{dart.userName}}</td>
            <td>{{dart.fromTime}}</td>
            <td>{{dart.toTime}}</td>
            <td>{{dart.plannedTask}}</td>
            <td><input type='text' class='form-control' #actualTask='ngModel' name='actualTask-{{index}}'
                [(ngModel)]=dart.actualTask /></td>
            <td><input type='text' class='form-control' #remarks='ngModel' name='remarks-{{index}}'
              [(ngModel)]=dart.remarks /></td>
          </tr>
        </tbody>
      </table>
      <div class='form-group'>
        <button class='btn btn-primary'  (click)='onSubmit()' type='submit'>Update Day Diary</button>
      </div>
    </div>
    </form>
  </div>
</div>
