<section class='page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-self-center p-static order-2">
        <img src="assets/img/home/logo.png" />
      </div>
    </div>
  </div>
</section>

<section>
    <div class="container">
      <div class="row">
          <div class="list-group list-group-item-action">
              <a href="dart/planner" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">DART-PLANNER</h5>
                </div>
                <p class="mb-1">Plan your daily tasks</p>
                <small class="text-muted">Everyday, before we start our day we have to plan our day for every hours. We have to do our works by sticking to the agenda we have mentioned in this planner. In case of any high priority work comes on our way, We have to customize accordingly. Once you planned your day, then you cant change your plan.</small>
              </a>
              <a href="dart/diary" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">DART-DIARY</h5>
                </div>
                <p class="mb-1">Update the actual work performed</p>
                <small class="text-muted">Its very necessary to monitor our works on hourly basis that Are we ontrack? For every hour we have to update our work done for that partcular hour. You have to update the day diary on the same day iself. You cant modify in future. In remarks mention reason for any pending working on that particular task.</small>
              </a>
              <a href="dart/report" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">DART-REPORT</h5>
                </div>
                <p class="mb-1">View the works for any time period</p>
                <small class="text-muted">In report page we can see the planner and diary together for a single persin over a period. This will give you mediate your productivity over a period. This will also increase collaboration between the team as anyone can view anyone's record. By retrospecting this we can improve our productivity day by day.</small>
              </a>
            </div>
      </div>
    </div>
  </section>
